asn1crypto==1.2.0
cffi==1.13.0
cryptography==3.2
Flask==1.1.1
idna==2.8.0
Jinja2==2.10.3
MarkupSafe==1.1.1
oauthlib==3.1.0
pycparser==2.19
PyJWT==1.7.1
six==1.12.0
requests==2.22.0
cryptography==3.2
Werkzeug==0.16.0
azure==4.0.0



