@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: #95a7b9
}

body > * {
  box-sizing: border-box;
}

.upload {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.upload-header,
.upload p {
  margin-top: 0;
  margin-bottom: 0;
}

.upload-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #ED171F;
}

.upload-header {
  background: #ED171F;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.button {
    letter-spacing: 1px;
	font-size: 12px;
	line-height: 1;
	height: 44px;
	padding: 20px;
	width: 400px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ED171F;
	border: 1px gray solid;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	color: #fff;
  box-sizing: border-box;
	display: inline-block;
	transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.button:hover {
	background-color: #17c;
}


.upload-hide {
  width: 0;
  height: 0;
  overflow: hidden;
  display: block;
  text-indent: -300px;
}

.styled-upload {
  display: flex;
  .upload {
    @extend .button;
    position: relative;
    cursor: pointer;
    &:after {
      position: absolute;
      right: 24px;
    }
  }

  .file {
    border:1px solid black;
    height:40px;
    flex-grow: 1;
    line-height: 40px;
    padding:0 10px;
    border-radius: 3px;
    margin-right: 10px;
    color: blue;
    display:block;
    background-color: rgba(white, .3);
    color: black;
    text-align: left;
    position: relative;
    cursor: pointer;
    text-align: center;

    span {
      width: 160px;
      height: 1em;
      display: block;
      margin: 0 auto;
    }

    &:before {
      position: absolute;
      left: 24px;
    }

    &:after {
      position: absolute;
      right: 24px;
      opacity: 0;
      transition: opacity .3s;
      top: 50%;
      margin-top: -8px;
    }

    &:hover, &:focus {
      background-color: white;
      box-shadow: 0 0 6px rgba(orange, .5);

      &:after {
        opacity: 1;
      }
    }
  }
}
