<!DOCTYPE html>
<html lang="en">
 <head>
    <title>upload file</title><link type = "text/css" rel="stylesheet" href="static/css/upload.css">

  </head>
<body>
<div class="upload">

    <img src="/static/PE.jpg" style="width:400px;">

    <div class = "upload-triangle"></div>
    <h2 class = "upload-header">Upload New File</h2>

    <form method="post" enctype="multipart/form-data">

        <p>Time Zone: <select name = "timezone" class="dropdown">
            <option value = "EasternTimeZone"> Eastern Time Zone </option>
            <option value = "CentralTimeZone"> Central Time Zone </option>
            <option value = "MountainTimeZone"> Mountain Time Zone </option>
            <option value = "PacificTimeZone"> Pacific Time Zone </option>
            <option value = "HawaiiTimeZone"> Hawaii Time Zone </option>
        </select></p>
        <p>Pressure Type: <select name = "pressuretype" class="dropdown">
            <option value = "Surface"> Surface </option>
            <option value = "BottomHole"> BottomHole </option>
        </select></p>
        <p>API10(No-Hyphen): <input type="text" placeholder="Well API" name="wellAPI" value="{{ request.form.wellAPI }}"></p>
        <p>Please upload pressure time series of one well</p>
        <input type="file" name="file"/>
        <input type="submit" value = "Upload" class="button" />
    </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

</div>
</body>
</html>